[user]
	name = Ayush Goel
	email = ayushgoel111@gmail.com
[color]
	branch = auto
	diff = auto
	status = auto
	ui = always
[merge]
	tool = opendiff
[pager]
	status = true
[core]
	excludesfile = ~/.gitignore_global
[credential]
	helper = osxkeychain
[push]
	default = simple
[diff "xcdatamodel"]
	xfuncname = ^Entity.*$
	textconv = XCDataModelPrinter
